brailetest1/Connected Services/brailleservice/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CalculateCircumference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateCircumferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateCircumferenceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CircumferenceInk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ink" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CircumferenceInkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CircumferenceInkResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateTrianglePerimeter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="side1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="side2" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="side3" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateTrianglePerimeterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateTrianglePerimeterResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateRectanglePerimeter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="width" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateRectanglePerimeterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateRectanglePerimeterResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CalculateCircumferenceSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateCircumference" />
  </wsdl:message>
  <wsdl:message name="CalculateCircumferenceSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateCircumferenceResponse" />
  </wsdl:message>
  <wsdl:message name="CircumferenceInkSoapIn">
    <wsdl:part name="parameters" element="tns:CircumferenceInk" />
  </wsdl:message>
  <wsdl:message name="CircumferenceInkSoapOut">
    <wsdl:part name="parameters" element="tns:CircumferenceInkResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateTrianglePerimeterSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateTrianglePerimeter" />
  </wsdl:message>
  <wsdl:message name="CalculateTrianglePerimeterSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateTrianglePerimeterResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateRectanglePerimeterSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateRectanglePerimeter" />
  </wsdl:message>
  <wsdl:message name="CalculateRectanglePerimeterSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateRectanglePerimeterResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CalculateCircumference">
      <wsdl:input message="tns:CalculateCircumferenceSoapIn" />
      <wsdl:output message="tns:CalculateCircumferenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CircumferenceInk">
      <wsdl:input message="tns:CircumferenceInkSoapIn" />
      <wsdl:output message="tns:CircumferenceInkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateTrianglePerimeter">
      <wsdl:input message="tns:CalculateTrianglePerimeterSoapIn" />
      <wsdl:output message="tns:CalculateTrianglePerimeterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateRectanglePerimeter">
      <wsdl:input message="tns:CalculateRectanglePerimeterSoapIn" />
      <wsdl:output message="tns:CalculateRectanglePerimeterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateCircumference">
      <soap:operation soapAction="http://tempuri.org/CalculateCircumference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CircumferenceInk">
      <soap:operation soapAction="http://tempuri.org/CircumferenceInk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTrianglePerimeter">
      <soap:operation soapAction="http://tempuri.org/CalculateTrianglePerimeter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRectanglePerimeter">
      <soap:operation soapAction="http://tempuri.org/CalculateRectanglePerimeter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateCircumference">
      <soap12:operation soapAction="http://tempuri.org/CalculateCircumference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CircumferenceInk">
      <soap12:operation soapAction="http://tempuri.org/CircumferenceInk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateTrianglePerimeter">
      <soap12:operation soapAction="http://tempuri.org/CalculateTrianglePerimeter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRectanglePerimeter">
      <soap12:operation soapAction="http://tempuri.org/CalculateRectanglePerimeter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44341/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44341/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>